.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: hsl(240, 7%, 97%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 185px;
  height: 49px;
}